{%  extends 'appointments/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h1 class="text-3xl font-semibold">Register</h1>
    <form action="{% url 'register' %}" method="POST" class="mt-4">
        {% csrf_token %}
        <div class="mb-4">
            <label for="username" class="block">Username</label>
            <input type="text" name="username" id="username" class="w-full p-2 bg-gray-800 text-white">
        </div>
        <div class="mb-4">
            <label for="email" class="block">Email</label>
            <input type="email" name="email" id="email" class="w-full p-2 bg-gray-800 text-white">
        </div>
        <div class="mb-4">
            <label for="password1" class="block">Password</label>
            <input type="password" name="password1" id="password1" class="w-full p-2 bg-gray-800 text-white">
        </div>
        <div class="mb-4">
            <label for="password2" class="block">Confirm Password</label>
            <input type="password" name="password2" id="password2" class="w-full p-2 bg-gray-800 text-white">
        </div>
        <button type="submit" class="bg-blue-400 text-white p-2">Register</button>
    </form>
{% endblock %}